@import url(https://fonts.googleapis.com/css?family=Open+Sans:300|Open+Sans+Condensed:300);
@font-face {
  font-family: "Järnliv Logotype";
  src: url(../font/JarnlivLogotype.woff);
}
@font-face {
  font-family: "Järnliv";
  src: url(../font/Jarnliv.woff);
}


/*
 * GENERELLT
 */

 /* Tona in innehåll vid första sidladdningen */
 body {
   opacity: 0;
 }
 body.loaded {
   -webkit-animation: fade-in 0.7s;
   -webkit-animation-fill-mode: forwards;
   animation: fade-in 0.7s;
   animation-fill-mode: forwards;
 }
 @-webkit-keyframes fade-in { from { opacity: 0; } to { opacity: 1; } }
 @keyframes fade-in { from { opacity: 0; } to { opacity: 1; } }


/*
 * TYPOGRAFI
*/

/* Gemensamma inställningar för rubriker */
h1, h2, h3 {
  font-family: "Järnliv";
  text-transform: uppercase;
}

/* Huvudrubrik */
h1 {
  line-height: 3;
  letter-spacing: 0.2em;
  text-align: center;
}

/* Huvudrubrik vid logotypen på huvudsidan */
h1.logotype-main {
  font-family: "Järnliv Logotype";
  text-transform: uppercase;
  text-align: center;
  font-size: 4em;
  line-height: 1em;
}
/* Ändra storlek beroende på skärmstorlek för att matcha logotypen */
@media (max-width: 650px) {
  h1.logotype-main {
    font-size: 3.5em;
  }
}
@media (max-width: 550px) {
  h1.logotype-main {
    font-size: 3em;
  }
}
@media (max-width: 450px) {
  h1.logotype-main {
    font-size: 2.5em;
  }
}
@media (max-width: 350px) {
  h1.logotype-main {
    font-size: 2em;
  }
}

/* Typsnittet "Järnliv" i navigationen */
nav a {
  font-family: "Järnliv";
  letter-spacing: 2px;
}


/*
 * NAVIGATION
 */

/* Dölj ordinarie ram */
.navbar {
  border: 0 !important;
}

/* Animerad linje ovanför menyn */
.navbar hr {
  width: 0%;
  margin: 0 auto;
  -webkit-animation: hr-width 1s;
  -webkit-animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
  animation: hr-width 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}
@-webkit-keyframes hr-width { from { width: 0%; } to { width: 100%; } }
@keyframes hr-width { from { width: 0%; } to { width: 100%; } }

/* Dölj "extralinje" ovanför menylänkarna i småskärmsläge */
#navbar {
  border-top: 0;
}

/* Ta bort marginalen på listan. Förskjuter länkarna lite i sida */
#navbar .nav {
  margin: 0;
}

/* Centrera menylänkarna */
.navbar-nav {
  width: 100%;
  text-align: center;
}
.navbar-nav>li {
    display: block;
}
/* Lägg länkarna på en horisontell linje vid storskärmsläge */
@media (min-width: 768px) {
  .navbar-nav>li {
    display: inline-block;
    float: none;
  }
}


/*
 * HUVUDSIDAN
 */

 /* Håll logotypen centrerad och i bra storlek */
#main-logo {
  margin: 5% auto;
  max-width: 80%;
  max-height: 80%;
}
