@import url(https://fonts.googleapis.com/css?family=Open+Sans:300|Open+Sans+Condensed:300);

h1 {
  text-transform: uppercase;
  text-align: center;
  line-height: 3;
}

/* Dölj ordinarie ram */
.navbar {
  border: 0 !important;
}

/* Ingen marginal på linjen */
.navbar hr {
  margin: 0;
}

/* Dölj "extralinje" ovanför menylänkarna i småskärmsläge */
#navbar {
  border-top: 0;
}

/* Ta bort marginalen på listan. Förskjuter länkarna lite i sida */
#navbar .nav {
  margin: 0;
}

/* Centrera menylänkarna */
.navbar-nav {
  width: 100%;
  text-align: center;
}
.navbar-nav>li {
    display: block;
}
@media (min-width: 768px) {
  .navbar-nav>li {
    display: inline-block;
    float: none;
  }
}

#main-logo {
  margin: 5% auto;
  max-width: 80%;
  max-height: 80%;
}
