@import url(https://fonts.googleapis.com/css?family=Open+Sans:300|Open+Sans+Condensed:300);
@font-face {
  font-family: "Järnliv Logotype";
  src: url(../font/JarnlivLogotype.woff);
}
@font-face {
  font-family: "Järnliv";
  src: url(../font/Jarnliv.woff);
}


/*
 * GENERELLT
 */

/* Header */
header.logotype-header {
  text-align: center;
}

/* Logotyp i sidhuvudet på undersidorna */
img.logotype-header {
  /*width: 100px;*/
  margin-top: 2em;
}

/* Justera rubriken så att den är centrerad när logotypen visas */
.not-startpage h1 {
  margin-top: 0;
}


/* Förhindra för långa textrader */
@media (min-width: 992px) {
  .extra-padding {
    padding-left: 23%;
    padding-right: 23%;
  }
}
@media (min-width: 768px) {
  .extra-padding {
    padding-left: 20%;
    padding-right: 20%;
  }
}
@media (min-width: 480px) {
  .extra-padding {
    padding-left: 15%;
    padding-right: 15%;
  }
}
@media (max-width: 479px) {
  .extra-padding {
    padding-left: 3%;
    padding-right: 3%;
  }
}

 /* Tona in innehåll vid första sidladdningen */
 /*body {
   opacity: 0;
 }
 body.loaded {
   -webkit-animation: fade-in 0.7s;
   -webkit-animation-fill-mode: forwards;
   animation: fade-in 0.7s;
   animation-fill-mode: forwards;
 }
 @-webkit-keyframes fade-in { from { opacity: 0; } to { opacity: 1; } }
 @keyframes fade-in { from { opacity: 0; } to { opacity: 1; } }

 /* Animerad linje ovanför menyn */
 .navbar hr {
   -webkit-animation: hr-width 1s;
   -webkit-animation-delay: 0.7s;
   -webkit-animation-fill-mode: forwards;
   animation: hr-width 1s;
   animation-delay: 0.5s;
   animation-fill-mode: forwards;
   width: 0%;
 }
 body.loaded .navbar hr {
   -webkit-animation: none;
   animation: none;
   width: 100%;
 }
 @-webkit-keyframes hr-width { from { width: 0%; } to { width: 100%; } }
 @keyframes hr-width { from { width: 0%; } to { width: 100%; } }


/*
 * ANIMATIONER
 */

#main .main-content.transition--fade {
   -webkit-animation-duration: 1s;
   -webkit-transition-timing-function: ease-in-out;
   -webkit-animation-fill-mode: both;
   -webkit-animation-name: fadeIn;
   animation-duration: 1s;
   transition-timing-function: ease-in-out;
   animation-fill-mode: both;
   animation-name: fadeIn;
 }

@-webkit-keyframes fadeIn { 0% { opacity: 0; } 100% { opacity: 1; } }
@keyframes fadeIn { 0% { opacity: 0; } 100% { opacity: 1; } }

#main.is-exiting .main-content {
  -webkit-animation-direction: alternate-reverse;
  animation-direction: alternate-reverse;
}

/* Vänd Ä-et i JÄRNLIV */
.logo-animated {
  display: inline-block;
  transform: rotateX(180deg);
  animation: rotate-letter 1s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}
body.loaded .logo-animated {
  display: inline;
  transform: rotateX(180deg);
  animation: none;
}
@keyframes rotate-letter { 0% { transform: rotateX(180deg)} 100% { transform: rotateX(0deg)} }


/*
 * TYPOGRAFI
*/

/* Gemensamma inställningar för rubriker */
h1, h2, h3 {
  font-family: "Järnliv";
  text-transform: uppercase;
  text-align: center;
}

/* Huvudrubrik */
h1 {
  line-height: 3;
  letter-spacing: 0.2em;
}

/* Typsnittet "Järnliv" i navigationen */
nav a {
  font-family: "Järnliv";
  letter-spacing: 2px;
}


/*
 * NAVIGATION
 */

/* Låt inte navbaren dölja text längst ner på sidan */
body {
  margin-bottom: 70px;
}

/* Dölj ordinarie ram */
.navbar {
  border: 0 !important;
}

/* Linje som animeras in när sidan laddats */
.navbar hr {
  margin: 0 auto;
}

/* Dölj "extralinje" ovanför menylänkarna i småskärmsläge */
#navbar {
  border-top: 0;
}

/* Ta bort marginalen på listan. Förskjuter länkarna lite i sida */
#navbar .nav {
  margin: 0;
}

/* Centrera menylänkarna */
.navbar-nav {
  width: 100%;
  text-align: center;
}
.navbar-nav>li {
    display: block;
}
/* Lägg länkarna på en horisontell linje vid storskärmsläge */
@media (min-width: 768px) {
  .navbar-nav>li {
    display: inline-block;
    float: none;
  }
}


/*
 * HUVUDSIDAN
 */

 /* Håll logotypen centrerad och i bra storlek */

/* Logotyp och rubrik på huvudsidan */
h1.logotype-main {
  font-family: "Järnliv Logotype";
  text-transform: uppercase;
  text-align: center;
  font-size: 3em;
  line-height: 1em;
  margin-top: 10px;
}
#main-logo {
  margin: 5% auto 0 auto;
  max-width: 40%;
  max-height: 40%;
}
@media (min-width: 992px) {
  h1.logotype-main {
    font-family: "Järnliv Logotype";
    text-transform: uppercase;
    text-align: center;
    font-size: 3em;
    line-height: 1em;
    margin-top: 10px;
  }
  #main-logo {
    margin: 5% auto 0 auto;
    max-width: 40%;
    max-height: 40%;
  }
}
@media (min-width: 768px) {
  h1.logotype-main {
    font-size: 3em;
  }
  #main-logo {
    margin: 5% auto 0 auto;
    max-width: 40%;
    max-height: 40%;
  }
}
@media (min-width: 480px) {
  h1.logotype-main {
    font-size: 2.5em;
  }
  #main-logo {
    margin: 8% auto 0 auto;
    max-width: 40%;
    max-height: 40%;
  }
}
@media (max-width: 479px) {
  h1.logotype-main {
    font-size: 2em;
  }
  #main-logo {
    margin: 15% auto 0 auto;
    max-width: 70%;
    max-height: 70%;
  }
}
